body {
    margin: 0 auto;
    font-family: 'Sarabun', sans-serif;
}
img {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.65;
}
.content {
    background-color: white;
    margin: 0 auto;
    padding: 30px 30px;
    border-radius: 5px;
    width: 600px;
    display: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
header {
    width: 600px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0 auto;
}
#title {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
}
.form_question {
    margin: 20px;
    text-align: right;
    display: grid;
    grid-template-columns: 200px auto;
    column-gap: 15px;
    align-items: center;
}
.gender-label {
    grid-row: 1/4;
}
.fav_color-label {
    grid-row: 1/5;
}
.field-label {
    font-weight: 700;
}
span {
    text-align: left;
}
textarea {
    resize: vertical;
}
#submit {
    grid-column: 1/3;
    height: 40px;
}